*.swp
*.swo
*.pyc
*.swm
*.swn
*.svg
*.swk
*.swh
*.swi
*.swg
*.swe
*.swd
*.swc
*.swf
*.svy
*.svz
*.svv
*.swa
*.svk
*.svl
*.svm
*.svn
*.svo
*.svs
*.svp
*.svq
*.svr
*.svt
*.svu
*.svw
*.svx
*.swb
*.csv.gz
*.pkl
*.lp
*.yaml

