<html>
  <head>
    <script type='text/javascript' src='/media/js/dygraph-combined.js'></script>
  </head>
<body>
OD: {{hop1}}-{{hop2}}-{{hop3}}<br /><br />
Class: {{cls}}<br /><br />
Date range: {{dfrom}} - {{dto}}<br /><br />

Number of paxes: {{pax_num}}<br /><br />
Stay length distribution:<br />
<center>
  <img src='..' width=700 height=300 />
</center>
<br />
Booking daysprior distribution: <br />
<center>
  <img src='...' width=700 height=300 />
</center>
</body>
</html>
