<html>
  <head>
    <script type='text/javascript' src='/media/js/dygraph-combined.js'></script>
  </head>
<body>
<h2>{{orgn}}-{{dstn}}-{{fltnum}}  ({{num}})</h2>

<!--
<div id='rev_past' style='width: 550px; height: 300px'></div>
<script type='text/javascript'>
  g1 = new Dygraph(document.getElementById('rev_past'),
                   '/csv/book_past/{{orgn}}/{{dstn}}/{{fltnum}}',
                   {title: 'Past booked',
                    valueRange: [0,350]}); 
</script>
</td>
<td>
<div id='rev_future' style='width: 550px; height: 300px;'></div>
<script>
  g2 = new Dygraph(document.getElementById('rev_future'),
                   '/csv/book_future/{{orgn}}/{{dstn}}/{{fltnum}}',
                   {title: 'Consfnldmd forecast',
                    'yAxisLabelWidth': 0,
                    'drawYAxis': false,
                    valueRange: [0,350],
                    colors: ["rgb(255,64,64)","rgb(142,35,35)"]});
</script>
-->
<!--
</td>
</tr>
</table>

</script>
</body>
</html>
-->

