<html>
  <head>
    <script type='text/javascript' src='/static/js/dygraph-combined.js'></script>
    <script type='text/javascript' src='/static/js/jquery-1.5.1.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery-ui-1.8.14.custom.min.js'></script>
  </head>
<body>
<script type='text/javascript'>
  $(document).ready(function()
  {
    var url_past = '/csv/book_past/{{orgn}}/{{dstn}}/{{fltnum}}/-/1234567';
    var url_future = '/csv/book_future/{{orgn}}/{{dstn}}/{{fltnum}}/-/1234567';

    $('#graph_height').change(function()
    {
        var val = $(this).val();
        g1.updateOptions({valueRange: [0,parseInt(val)]});
        g2.updateOptions({valueRange: [0,parseInt(val)]});
    });

    $('input:checkbox[name=dow]').change(function()
    {
        var excl_val = $(this).val();
        var dow_s = '';
        $('input:checkbox[name=dow]:checked').each(function() {
            var val = $(this).val();
            dow_s += $(this).val();
        }); 
        var url_past_arr = url_past.split('/');
        var url_future_arr = url_future.split('/');
        url_past_arr[7] = dow_s;
        url_future_arr[7] = dow_s;
        url_past = url_past_arr.join('/');
        url_future = url_future_arr.join('/');
        $('#rev_past_loading').css('color','rgb(136,0,0)');
        $('#rev_future_loading').css('color','rgb(136,0,0)')
	g1.updateOptions({ file: url_past });
	g2.updateOptions({ file: url_future });
    });

    $('input:radio[name=level]').change(function() 
    {
      var val = $(this).val();
      var url_past_arr = url_past.split('/');
      var url_future_arr = url_future.split('/');
      if (val == 'all')
      {
          url_past_arr[6] = '-';
          url_future_arr[6] = '-';
      }
      else if (val == 'Jcmpt')
      {
          url_past_arr[6] = 'J-';
          url_future_arr[6] = 'J-';
      }
      else if (val == 'Ycmpt')
      {
          url_past_arr[6]   = 'Y-';
          url_future_arr[6] = 'Y-';
      }
      else
      {
          url_past_arr[6]   = '-' + val;
          url_future_arr[6] = '-' + val;
      }
      url_past = url_past_arr.join('/');
      url_future = url_future_arr.join('/');
      $('#rev_past_loading').css('color','rgb(136,0,0)');
      $('#rev_future_loading').css('color','rgb(136,0,0)');
      g1.updateOptions({ file: url_past });
      g2.updateOptions({ file: url_future });
    });
  });
</script>
<table>
<tr>
 <td colspan='2' align='center'><input id='graph_height' type='text' size='4' value='350' style='text-align: center' /></td>
</tr>
<tr>
<td>
<div id='rev_past' style='width: 550px; height: 300px'></div>
<br />
<div id='rev_past_loading' style='width: 550px; text-align: center; color: rgb(136,0,0)'>Loading...</div>
</div>
<script type='text/javascript'>
  g1 = new Dygraph(document.getElementById('rev_past'),
                   '/csv/book_past/{{orgn}}/{{dstn}}/{{fltnum}}/-/',
                   {title: 'PAST',
                    valueRange: [0,350],
                    colors: ["rgb(0,153,51)"],
                    drawCallback: function(g,is_initial) {
                      $('#rev_past_loading').css('color','white');
                    }
                   }); 
</script>
</td>
<td>
<div id='rev_future' style='width: 550px; height: 300px;'></div>
<br />
<div id='rev_future_loading' style='width: 550px; text-align: center; color: rgb(136,0,0)'>Loading...</div>
<script>
  g2 = new Dygraph(document.getElementById('rev_future'),
                   '/csv/book_future/{{orgn}}/{{dstn}}/{{fltnum}}/-/',
                   {title: 'FUTURE',
                    'yAxisLabelWidth': 0,
                    'drawYAxis': false,
                    valueRange: [0,350],
                    colors: ["rgb(255,64,64)","rgb(142,35,35)","rgb(0,153,51)"],
                    drawCallback: function(g,is_initial) {
                      $('#rev_future_loading').css('color','white');
                    }
                   });
</script>
</td>
</tr>
</table>
<br />
<br />
<form>
<table>
 <tr>
  <td>&nbsp;</td>
  <td>
   <input type='radio' name='level' value='all' checked>Both compartments</input>
   <input type='radio' name='level' value='Jcmpt'>J compartment</input>
   <input type='radio' name='level' value='Ycmpt'>Y compartment</input>
  </td>
 </tr>
 <tr>
  <td>
   <b>J:</b>
  </td>
  <td>
   <input type='radio' name='level' value='J'>J</input>
   <input type='radio' name='level' value='C'>C</input>
   <input type='radio' name='level' value='D'>D</input>
   <input type='radio' name='level' value='I'>I</input>
   <input type='radio' name='level' value='F'>F</input>
   <input type='radio' name='level' value='U'>U</input>
  </td>
 </tr>
 <tr>
  <td>
   <b>Y:</b>
  </td>
  <td>
   <input type='radio' name='level' value='Y'>Y</input>
   <input type='radio' name='level' value='B'>B</input>
   <input type='radio' name='level' value='H'>H</input>
   <input type='radio' name='level' value='K'>K</input>
   <input type='radio' name='level' value='M'>M</input>
   <input type='radio' name='level' value='P'>P</input>
   <input type='radio' name='level' value='T'>T</input>
   <input type='radio' name='level' value='L'>L</input>
   <input type='radio' name='level' value='V'>V</input>
   <input type='radio' name='level' value='S'>S</input>
   <input type='radio' name='level' value='N'>N</input>
   <input type='radio' name='level' value='G'>G</input>
   <input type='radio' name='level' value='A'>A</input>
   <input type='radio' name='level' value='Q'>Q</input>
   <input type='radio' name='level' value='O'>O</input>
   <input type='radio' name='level' value='Z'>Z</input>
   <input type='radio' name='level' value='R'>R</input>
   <input type='radio' name='level' value='W'>W</input>
   <input type='radio' name='level' value='X'>X</input>
   <input type='radio' name='level' value='E'>E</input>
  </td>
 </tr>
 <tr>
   <td>&nbsp;</td>
   <td>
     <input type='checkbox' name='dow' value='1' checked>Monday</input>
     <input type='checkbox' name='dow' value='2' checked>Tuesday</input>
     <input type='checkbox' name='dow' value='3' checked>Wednesday</input>
     <input type='checkbox' name='dow' value='4' checked>Thursday</input>
     <input type='checkbox' name='dow' value='5' checked>Friday</input>
     <input type='checkbox' name='dow' value='6' checked>Saturday</input>
     <input type='checkbox' name='dow' value='7' checked>Sunday</input>
   </td>
 </tr>
</table>
</form>

</script>
</body>
</html>
