<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Revenue accounting data upload</title>
    <link href='/static/bootstrap/css/bootstrap.css' rel='stylesheet' media='screen'>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='/static/bootstrap/js/bootstrap.min.js'></script>

    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
        </div>
     </div>
    </div>

    <div class='container'>
      <legend class=''>Thank you! Results will be sent to specified email.</legend>
    </div>
 </body>
</html>

